<div class="container">
    <h2 class="country">
    <img class="flag" src="{{icon}}" alt="flag"> 
        {{official}}</h2>
    <p class="titel"><span class="span">Capital: </span>{{capital}}</p>
    <p class="titel"><span class="span">Population: </span>{{population}}</p>
    <p class="titel"><span class="span">Languages: </span>{{languages}}</p>
</div>